*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images3.alphacoders.com/178/178309.jpg);
    background-size: cover;
}

.movie-container{

    width: 80%;
    height: auto;
    border: 5px solid rgba(255, 255, 255, 0.4);
    background: none;
    backdrop-filter: blur(10px);
    position: relative;
}

img{

    float: right;

}

.title{

    position: absolute;
    color: #fff;
    padding: 50px 80px;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;

}

h3{

    position: absolute;
    font-size: 40px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 37px;
    top: 180px;
    left: 100px;

}

.dis{

    position: absolute;
    top: 190px;
    padding: 80px 80px;
    color: #f1f1f1;
    font-size: 18px;
    font-family: sans-serif;
}
button{

    position: absolute;
    top: 70%;
    left: 5%;
    padding: 20px 70px;
    font-size: 30px;
    border: 2px solid #fff;
    background: none;
    color: #f1f1f1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

button:active{

    color: #070707;
    background: #f3f3f3;
    background: linear-gradient(#1a2983, #f4f5f7, #1a2983);
    animation: circling 1.5s linear infinite;

}
@keyframes circling{
    0%{ filter: hue-rotate(0deg);}
    100%{ filter: hue-rotate(360deg);}


}